body {
    margin: 0;
    padding: 0;
    background-color: rgb(118, 79, 68);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    border-top: 6px solid white;
}

a {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.send-flowers {
    font-family: 'Send Flowers';font-size: 150px;
}

.cream-soda {
    font-family: 'Cherry Cream Soda';font-size: 50px;
}

.margin {
    margin-left: 250px;
}

.frame {
    border: 2px solid black;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 6px solid white;
}

.bottom-border {
    border-bottom: 6px solid white;
    margin: auto;
    align-items: center;
}

div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
    

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
}
