body {
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    margin: 0;
    padding-left: 1.875rem;
    background-color: rgb(118, 79, 68);
    border-bottom: 0.625rem solid black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.a {
    color: rgba(141, 65, 44, 0.938);
    text-decoration: none;
}

.a1 {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 0.624rem solid black;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    background-color: rgb(118, 79, 68);
}

.title {
    text-align: center;
}

div {
    display: flex;
    justify-content: space-around;
    padding-left: 3.125rem;
}

.no-padding {
    padding: 0rem;
}

h5 {
    margin: 0rem 3.125rem 0rem 3.125rem;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: italic;
    text-align: center;
    margin: 1.25rem 18.75rem 1.25rem 18.75rem;
}

li {
    margin: 0.9375rem 0rem;
}

ol {
    margin: 1.375rem 3.125rem 1.375rem 0rem;
}

.outer-container{
    display: flex;  
    flex-direction: row;
}

.container { 
    width: 42.1875rem; 
    height: fit-content;
    padding: 0rem 3.125rem 0rem 0rem;
 }

.container1 {
    width: 46.875rem; 
    height: fit-content;
    padding: 0rem 0rem 0rem 3.125rem;
}

.vl {
    border-left: 0.1875rem solid black;
    height: auto;
}

.hl {
    border-bottom: 0.1875rem solid black;
    width: auto;
    margin: 3.75rem 4.375rem 0rem 4.375rem
}

.bold {
    font-weight: bolder;
}

i {
    font-style: normal;
}

.size {
    font-size: xx-large;
}

img {
    border-radius: 50%;
    box-shadow: 0.1875rem 0.1875rem 0.625rem rgba(0, 0, .2);
    margin: 1.875rem auto 0.625rem auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.frame {
    border: 0.1875rem solid black;
}

footer {
    text-align: right;
    color: white;
    background-color: rgb(118, 79, 68);
    padding: 0.3125rem 1.875rem 0.3125rem 0rem;
    border-top: 0.625rem solid black;
}

.send-flowers {
    font-family: 'Send Flowers';font-size: 3.75rem;
    font-weight: bold;
}
    
.cream-soda {
    font-family: 'Cherry Cream Soda';font-size: 1.875rem;
}

.montserrat1 {
    font-family: 'Montserrat';font-size: 1.624rem;
}

.montserrat {
    font-family: 'Montserrat';font-size: 1.375rem;
}

.nunito {
    font-family: 'Nunito';font-size: 1.4375rem;
    font-weight: bolder;
}

.margin {
    margin: 0.9375rem;
}

.important-note {
    font-size: large;
    font-style: normal;
    text-align: justify;
    margin: 1.25rem 12.5rem 1.25rem 12.5rem;
    padding: 10px;
    border: solid 0.3125rem black;
}
